<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
   integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<ul>
   <li *ngFor="let list of gender ">
      <p #title> {{list.title}}</p>
      <p #name> Price: ₹ {{list.price}}</p>
      <p><img style="height: 250px; width: 250px; " src={{list.image}}></p>
      <button class="btn btn-dark" (click)="addToCart(list);totalcartvalue(list.price)">
         <h6 class="material-icons">Add To Cart</h6>
      </button>
      <button class="btn btn-dark" (click)="getDetails(list);redirectToDetails()">
         <h6 class="material-icons">View More</h6>
      </button>
   </li>
    <app-usercart class="right"></app-usercart> 
</ul>
<ul>
   <li *ngFor="let price of cartDetails">
      <p>{{price}}</p>
   </li>
</ul>